.page-wrapper {
    position: absolute;
    display: flex;
    padding: 4em 3em;
    background-color: rgba($color: #FFF, $alpha: 0.6);
    border-radius: 1.5em;
    max-width: 68em;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-height: 34em;
    height: 100%;
    box-shadow: 75px 114px 84px 55px rgba(0,0,0,0.15);

    @media (max-width: $breakpoint-large) {
        max-height: 54em;
        max-width: 48em;
    }
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 22em;
    width: 100%;
}

.main-header {
    display: flex;
}

.header-logo-text {
    font-size: 18px;
    padding-right: .5em;
    margin: auto;
}

.nav-list {
    margin: auto;
}

.list-item {
    display: inline-block;
    list-style: none;
    margin-right: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba($color: #000000, $alpha: 0.8);
}

.landing-container {
    max-width: 11em;
    width: 100%;
}

.landing-title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
}

.landing-text {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    color: rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 4em;
}

.shape-container {
    height: 34em;
    height: 100%;
    max-width: 50em;
    width: 100%;
    display: flex;
    flex-direction: column;
}