.page-wrapper {
    position: absolute;
    display: flex;
    padding: 4em 3em;
    background-color: rgba($color: #FFF, $alpha: 0.6);
    border-radius: 1.5em;
    width: 68em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header-wrapper {
    height: 100%;
}

.main-header {
    display: flex;
}

.header-logo-text {
    font-size: 18px;
    padding-right: .5em;
    margin: auto;
}

.nav-list {
    margin: auto;
}

.list-item {
    display: inline-block;
    list-style: none;
    margin-right: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba($color: #000000, $alpha: 0.8);
}

.landing-container {
    padding-top: 60%;
    width: 50%;
}

.landing-title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
}

.landing-text {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    color: rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 4em;
}

.shape-container {
    width: 68%;
}