.shape-row-one,
.shape-row-two {
    display: flex;

    @media (max-width: $breakpoint-large) {
        flex-wrap: wrap;
    }
}

.one-container,
.two-container,
.three-container,
.four-container {
    display: flex;
    flex-direction: row;
    max-width: 23.25em;
}

.three-container {
    @media(max-width: $breakpoint-large) {
        overflow: hidden;
    }
}

.shape-row-one div,
.shape-row-two div {
    max-width: 23.25em;
    width: 100%;
    height: 11.25em;
}


.shape-row-one-first {
    background-color: #1F5369;
    border-top-left-radius: $shape-border-radius;
}

.shape-row-one-second {
    background-color: #87CDD5;
    border-bottom-right-radius: $shape-border-radius;
}

.shape-row-circle {
    border-radius: $shape-border-radius;
    background-color: #E7DBC1;

    &:last-of-type {
        background-color: #1F5369;
    }
}

.shape-row-one-fourth {
    border-bottom-left-radius: $shape-border-radius;
    background-color: #F8BCBC;
}

.shape-row-two-first-pink {
    border-top-left-radius: $shape-border-radius;
    background-color: #F8BCBC;
}

.shape-row-two .shape-row-two-second {
    height: $shape-height;
    border-top-left-radius: $shape-border-radius;
    border-bottom-left-radius: $shape-border-radius;
    background-color: #FF7C67;
}

.shape-row-two-third-blue {
    border-bottom-left-radius: $shape-border-radius;
    background-color: #87CDD5;
}

.shape-row-two-fourth-green {
    border-top-left-radius: $shape-border-radius;
    background-color: #28543D;
}


.shape-row-two-fourth-beige {
    border-bottom-left-radius: $shape-border-radius;
    background-color: #E7DBC1;
}

